<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050981544858-hak31ep6qnrlr562h7am60iulg0lro8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050981544858-hak31ep6qnrlr562h7am60iulg0lro8v</string>
	<key>API_KEY</key>
	<string>AIzaSyBAE_qm6rh-u8D3Q5048HVha9Tx659TS6s</string>
	<key>GCM_SENDER_ID</key>
	<string>1050981544858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esie.cryptoview</string>
	<key>PROJECT_ID</key>
	<string>rw-core</string>
	<key>STORAGE_BUCKET</key>
	<string>rw-core.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050981544858:ios:7a38af0a3c97391572c023</string>
	<key>DATABASE_URL</key>
	<string>https://rw-core.firebaseio.com</string>
</dict>
</plist>